body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif;
}

.bg-image {
    background-image: url("Home.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px);
}

.bg-text, .bg-p1 {
    background-color: rgb(0, 0, 0);
    background-color: rgba(50, 50, 0, 0.4);
    color: #BE93D4;
    font-weight: bold;
    border: 3px dashed #E39FF6;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 80%;
    text-align: center;
    padding: 20px;
    text-shadow: 0px 0px 5px #AF69EF;
    box-shadow: 0px 0px 25px #AF69EF;
}

.bg-text {
    top: 15%;
    animation: homeAnimation 2s;
}

.bg-p1 {
    top: 50%;
    animation: homeAnimation2 2s;
}

#header1 {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

nav ul li {
    padding-left: 50px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    text-overflow: hidden;
    color: #BE93D4;
}

@keyframes homeAnimation {
    0% { transform: translate(-50%, -500%); opacity: 0%; }
    100% { transform: translate(-50%, 15%); opacity: 100%; }
}

@keyframes homeAnimation2 {
    0% { transform: translate(-50%, -500%); opacity: 0%; }
    100% { transform: translate(-50%, 50%); opacity: 100%; }
}

@media (max-width: 768px) {
    .bg-text, .bg-p1 {
        width: 90%;
    }
}
