body, html{
	height: 305%;
	overflow-x: hidden;

}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Consolas', sans-serif;
}

.bg-image{
	background-image: url("Hobbies.jpg");
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: blur(5px);
}

.bg-text{
	background-color: rgb(0, 0, 0);
	background-color: rgba(50, 50, 0, 0.4);
	color: #FFF;
	font-weight: bold;
	border: 3px dashed #FFF;
	border-radius: 10px;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -25%);
	z-index: 2;
	width: 80%;
	text-align: center;
	padding: 20px;
	text-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 25px #000000;

	animation: homeAnimation, forwards;
	animation-duration: 2s;
}

@keyframes homeAnimation{
	from{transform: translate(-50%,-500%); opacity: 0%}
	to{transform: translate(-50%, -25%); opacity: 100%}

}

.bg-p1{
	background-color: rgb(0, 0, 0);
	background-color: rgba(50, 50, 0, 0.4);
	color: #FFF;
	font-weight: bold;
	border: 3px dashed #FFF;
	border-radius: 10px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -15%);
	z-index: 2;
	width: 80%;
	text-align: center;
	padding: 20px;
	text-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 25px #000000;
	font-size: 18px;
	text-overflow: hidden;

	animation: homeAnimation2, forwards;
	animation-duration: 2s;
}

.bg-p2{
	background-color: rgb(0, 0, 0);
	background-color: rgba(50, 50, 0, 0.4);
	color: #FFF;
	font-weight: bold;
	border: 3px dashed #FFF;
	border-radius: 10px;
	position: absolute;
	top: 360%;
	left: 50%;
	transform: translate(-50%, 20%);
	z-index: 2;
	width: 80%;
	text-align: center;
	padding: 20px;
	text-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 25px #000000;
	font-size: 18px;

	animation: homeAnimation3, forwards;
	animation-duration: 4s;
}

@keyframes homeAnimation2{
	from{transform: translate(150%,-15%); opacity: 0%}
	to{transform: translate(-50%, -15%); opacity: 100%}

}

@keyframes homeAnimation3{
	from{transform: translate(150%,38%); opacity: 0%}
	to{transform: translate(-50%, 38%); opacity: 100%}

}

#header1{
	text-align: center;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 10px;
}

nav ul li{
}

nav ul li a{
	text-decoration: none;
	text-overflow: hidden;
	color: #FFF;
}

a{
	text-decoration: none;
	color: #FFF;
}

video{
	box-shadow: 0px 0px 25px #000000;
}

img{
	box-shadow: 0px 0px 25px #000000;
}
